.landing_section{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.landing_heading{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 540px;
}
.landing_heading::before{
    content: "ONLINE";
    font-family:'Poppins-LightItalic',sans-serif ;
    font-size: 2.5rem;
    position: absolute;
    right: -140px;
    bottom: -25px;
}
.landing_corona{
    position: fixed;
    width: 170px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.image_corona{
    position: relative;
    z-index: 3;
    width: 170px;
}
.motion_corona::after{
    z-index: 2;
    position: absolute;
    content: " ";
    left: 50%;
    top: 50%;
    width: 170px;
    height: 510px;
    transform: translate(-50%,-50%);
    background-image: url('../../assets/images/corona.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(12px);
}
.heading_k29{
    display: flex;
    width: 100%;
    justify-content: left;
    font-family: 'Poppins-ExtraBold',sans-serif;
    font-size: 8rem;
    color: var(--yellow);
}
.heading_drinks{
    display: flex;
    width: 100%;
    justify-content: right;
    padding-left: 150px;
    font-family: 'Poppins-LightItalic',sans-serif;
    font-size: 8rem;
    color: var(--yellow);
}