.categories_section{
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.categories_box{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: left;
}