.navbar_container{
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 0;
    width: 100%;
    transform: translate(-50%,50%);
}
.navbar_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 5px;
}
.navbar_signin{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar_contact{
    display: flex;
    align-items: center;
    gap: 20px;
}