.landing_section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}
.landing_heading{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 540px;
}
.landing_heading::after{
    content: "ONLINE";
    font-size: 2.5rem;
    position: absolute;
    right: -150px;
    bottom: -25px;
}
.landing_corona{
    position: absolute;
    width: 170px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    img{
        position: relative;
        z-index: 3;
        width: 170px;
    }
}
.landing_corona::after{
    z-index: 2;
    position: absolute;
    content: " ";
    left: 50%;
    top: 50%;
    width: 170px;
    height: 510px;
    transform: translate(-50%,-50%);
    background-image: url('../../assets/images/corona.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(12px);
}
.heading_k29{
    display: flex;
    width: 100%;
    justify-content: left;
    font-family: 'Poppins-ExtraBold',sans-serif;
    font-size: 8rem;
    color: var(--yellow);
}
.heading_drinks{
    display: flex;
    width: 100%;
    justify-content: right;
    padding-left: 150px;
    font-family: 'Poppins-LightItalic',sans-serif;
    font-size: 8rem;
    color: var(--yellow);
}