@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('./assets/fonts/Poppins-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url('./assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black:#141414;
  --white:#FFFFFF;
  --yellow:#C89B2F;
  --ligth-yellow:#E2C792;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  font-family: 'Poppins-Regular',sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}
h1{
  margin: 0;
  line-height: 1;
}
h2{
  font-family: 'Poppins-MediumItalic',sans-serif;
  font-size: 2.5rem;
  color: var(--ligth-yellow);
  margin: 0;
  line-height: 1;
}
h3{
  font-family: 'Poppins-MediumItalic',sans-serif;
  font-size: 1.7rem;
  margin: 0;
  line-height: 1;
}
p{
  font-size: 12px;
  text-wrap: balance;
}
input{
  width: 250px;
  padding: 10px;
  border: none;
  border-bottom: solid 1px var(--white);
  background-color: transparent;
  color: var(--white);
}
a{
  text-decoration: none;
  color: var(--white);
  font-size: 10px;
}